/* LoginForm.css */
.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: left;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"],
  .login-form input[type="email"]{
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .login-form button:hover {
    background-color: #004084;
  }
  