/* App.css */
.App {
  text-align: center;
  background-color: #91d59c;
}

.App-header {
  background-color: #3f4042;
  color: #976d6d;
  padding: 20px;
}

.App-main {
  padding: 20px;
}

.App-footer {
  background-color: #333;
  color: #7e5858;
  padding: 10px;
}
